{
  "presets": [
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "groundskeeper-willie",
      {
        "removeConsole": true,
        "removeDebugger": true,
        "removePragma": true
      }
    ]
  ],
  "comments": false
}